<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifystreamer.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.spotifystreamer.spotifystreamer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.spotifystreamer.spotifystreamer.Top10TracksActivity"
            android:label="@string/title_activity_top10_tracks"
            android:parentActivityName="com.example.spotifystreamer.spotifystreamer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spotifystreamer.spotifystreamer.MainActivity" />
        </activity>

        <activity
            android:name="com.example.spotifystreamer.spotifystreamer.NowPlayingActivity"
            android:label="@string/title_activity_now_playing"
            android:parentActivityName="com.example.spotifystreamer.spotifystreamer.Top10TracksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spotifystreamer.spotifystreamer.Top10TracksActivity" />
        </activity>

        <service
            android:name="com.example.spotifystreamer.spotifystreamer.MediaPlayerService"
            android:icon="@mipmap/ic_launcher"
            android:label="MediaPlayer"
            android:exported="true">
            <intent-filter>
                <action android:name="PLAY"/>
            </intent-filter>
        </service>

      </application>

</manifest>
